<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/assets/css/cheff.css">
  <title>Cheff</title>
</head>

<body>
  <div class="container">
    <h1>Our Cheffs</h1>

    <!-- First Row -->
    <div class="row">
      <div class="cheff-box">
        <img src="./assets/images/cheff 1.avif" alt="CHEFF 1" class="cheff-image">
        <h3>Cheff 1</h3>
        <p>Specialty: Continental</p>
        <p>Experience: X years</p>
        <p>E-mail: cheff@example.com</p>
        <p>Phone: +123-456-7890</p>


      </div>
      <div class="cheff-box">
        <img src="./assets/images/cheff 2.jpg" alt="Cheff 2" class="cheff-image">
        <h3>Cheff 2</h3>
        <p>Specialty: Continental</p>
        <p>Experience: X years</p>
        <p>E-mail: cheff@example.com</p>
        <p>Phone: +123-456-7890</p>

      </div>
      <div class="cheff-box">
        <img src="./assets/images/cheff 3.jpg" alt="Cheff 3" class="cheff-image">
        <h3>Cheff 3</h3>
        <p>Specialty: Continental</p>
        <p>Experience: X years</p>
        <p>E-mail: cheff@example.com</p>
        <p>Phone: +123-456-7890</p>

      </div>
    </div>

    <!-- Second Row -->
    <div class="row">
      <div class="cheff-box">
        <img src="./assets/images/cheff 4.jpg" alt="Cheff 4" class="cheff-image">
        <h3>Cheff 4</h3>
        <p>Specialty: Continental</p>
        <p>Experience: X years</p>
        <p>E-mail: cheff@example.com</p>
        <p>Phone: +123-456-7890</p>

      </div>
      <div class="cheff-box">
        <img src="./assets/images/cheff 5.avif" alt="Cheff 5" class="cheff-image">
        <h3>Cheff 5</h3>
        <p>Specialty: Continental</p>
        <p>Experience: X years</p>
        <p>E-mail: cheff@example.com</p>
        <p>Phone: +123-456-7890</p>

      </div>
      <div class="cheff-box">
        <img src="./static/assets/images/cheff 6.avif" alt="Cheff 6" class="cheff-image">
        <h3>Cheff 6</h3>
        <p>Specialty: Continental</p>
        <p>Experience: X years</p>
        <p>E-mail: cheff@example.com</p>
        <p>Phone: +123-456-7890</p>

      </div>

    </div>
</body>
</html>